@charset "UTF-8";

:root{
    --cor1: hsl(233, 47%, 7%);
    --cor2: hsl(244, 38%, 16%);
    --cor3: hsl(277, 64%, 61%);
    --cor4: hsl(0, 0%, 100%);
    --cor5: hsla(0, 0%, 100%, 0.75);
    --cor6: hsla(0, 0%, 100%, 0.6);
}

/*## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

*{
    box-sizing: border-box;
}

body{
    background-color: var(--cor1);
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    width: 1000px;
    height: 380px;
    background-color: var(--cor2);
    border-radius: 15px;
}

div#text{
    width: 500px;
    height: 380px;
    padding: 35px;
}

div#text > h1{
    color: var(--cor4);
}

div#text > p{
    color: var(--cor5);
}

span{
    color: var(--cor3);
}

div#text > #mark{
    display: flex;
    width: 550px;
}

div#mark > .marks{
    width: 60px;
    height: 60px;
    margin-right: 100px;
}

.marks > h2{
    color: var(--cor4);
}

.marks > p{
    color: var(--cor6);
}

div#img{
    filter: opacity(0.4) drop-shadow(0 0 0 hsl(277, 64%, 61%));
    width: 500px;
    height: 380px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    
}

div#img > img{
    width: 500px;
    height: 380px;
}